<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991924450621-52943032g9r0fo4pf1ldlchegncjdfd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991924450621-52943032g9r0fo4pf1ldlchegncjdfd0</string>
	<key>API_KEY</key>
	<string>AIzaSyCA02501RGR-_EHC_kGRhKyqd9woMBgaPE</string>
	<key>GCM_SENDER_ID</key>
	<string>991924450621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Practice.BloggingApp</string>
	<key>PROJECT_ID</key>
	<string>bloggingapp-c48ea</string>
	<key>STORAGE_BUCKET</key>
	<string>bloggingapp-c48ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991924450621:ios:cd4ce9f7a58c56e6c30154</string>
</dict>
</plist>